{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "ignorePatterns": [
    "node_modules/**/*",
    "lib/**/*"
  ],
  "noInlineConfig": true,
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "overrides": [
  ],
  "rules": {
    "@typescript-eslint/no-inferrable-types": [
      "warn"
    ]
  }
}
